#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  gap: 1em;

  a: {
    margin: 0 0.5em;
  }
}
